<header class="navbar">
  <div class="container nav-wrap">
    <a href="/" class="brand"><%= appName %></a>
    <nav>
      <a href="/">Inicio</a>
      <a href="/planes">Planes</a>
    </nav>
  </div>
</header>